.user-other {
  width: 16%;
}
.user-img-st-quan-part {
  width: 10%;
}
.user-date-part {
  width: 15%;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .user-other {
    width: 18%;
  }
  .user-img-st-quan-part {
    width: 32%;
  }
  .user-date-part {
    width: 0%;
  }
}

.table-head-part {
  background-color: hsl(193deg 99% 33%);
}

.select-btn {
  display: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #42ba96;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #42ba96;
  font-size: 0.8rem;
}

.select-btn,
.select-btn span {
  transition: 200ms;
}

.select-btn .text {
  transform: translateX(20px);
  color: white;
  font-weight: bold;
}

.select-btn .icon {
  position: absolute;
  border-left: 1px solid #2aa07d;
  transform: translateX(75px);
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-btn:hover {
  background: #65cfaf;
}

.select-btn:hover .text {
  color: transparent;
}

.select-btn:hover .icon {
  width: 100px;
  border-left: none;
  transform: translateX(0);
}

.select-btn:focus {
  outline: none;
}

.select-btn:active .icon svg {
  transform: scale(0.8);
}
