.banner-part {
  background-image: url("https://i.ibb.co/DG2s8b4/pexels-photo-3650428.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.link-style:hover,
.link-style:visited,
.link-style:link,
.link-style:active {
  text-decoration: none;
  color: black;
}

/* explore button  */

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

/* service part  */

.service-img {
  box-shadow: 0 8px 6px -1px gray;
}

.buy-btn {
  border: none;
  color: #090909;
  padding: 0.5em 1em;
  font-size: 18px;
  border-radius: 0.5em;
  /* background: #e8e8e8; */
  background: #d8d8d8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.buy-btn:hover {
  border: 1px solid white;
}

.buy-btn:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

/* blogs part */

.blog-first-part {
  height: 22rem;
}

.banner-underline {
  border-top: 2px solid gray;
  width: 10rem;
}
